

  <html lang="en">
  <head>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat&display=swap">
  </head>
  
  <body>
    <div class="row w-100">
      <div class="col-12 d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
        <div class="image-container">
          <%= image_tag "ZenFlowlog.png", alt: "Company Logo", class: "img-fluid" %>
        </div>
        <div class="box">
          <h1 class="text-center">Welcome</h1>
          <p class="text-center">
            In a world where everyone and everything constantly requires our attention,
            it can be hard to find focus. Endless task lists, unread notifications, unfortunate news, and non-stop obligations can all take a toll on our 
            capacity to look after ourselves. 
          </p>
        </div>
  
        <div class="box">
          <h2 class="text-center">What ZenFlow Offers</h2>
          <p class="text-center">
            ZenFlow provides you with an easy-to-use space to jot down activities, thoughts, and feelings. 
          </p>
        </div>
      </div>
    </div>
  
  </body>
  </html>
  